QMainWindow {
  background-color: #27272B;
  min-width: 1020px;
  min-height: 680px; }

QLabel {
  qproperty-alignment: AlignCenter;
  color: #FFFFFF; }

Menubar {
  max-height: 80px; }
  Menubar #CopyDock {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    background-color: #27272B;
    font-size: 30px;
    font-family: DIN;
    color: #DC4850; }
    Menubar #CopyDock:enabled {
      background-color: #DC4850;
      color: #27272B; }
  Menubar IconButton {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    qproperty-iconWidth: 35;
    qproperty-iconHeight: 35; }
  Menubar #VolumeLabel {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px; }
  Menubar Projectbar {
    background-color: #DC4850;
    min-width: 500px;
    max-width: 500px;
    max-height: 60px; }
    Menubar Projectbar QLabel {
      color: #27272B;
      font-family: DIN;
      font-size: 30px;
      min-width: 350px;
      max-width: 350px;
      padding-right: 15px; }

#PreviousButton, #NextButton {
  qproperty-iconWidth: 25;
  qproperty-iconHeight: 25;
  min-width: 35px;
  max-width: 35px; }

#PreviousButton {
  padding-right: 5px; }

#MenuButton {
  qproperty-iconWidth: 30;
  qproperty-iconHeight: 30; }

QMenu {
  background-color: #DC4850;
  margin: 15px; }
  QMenu::item {
    color: #27272B;
    padding: 15px;
    font-size: 16px; }
    QMenu::item::selected {
      background-color: #27272B;
      color: #DC4850; }

CustomComboBox QMenu {
  margin: 0px; }
  CustomComboBox QMenu::item {
    padding: 0; }

QDialog, SettingsDialog {
  background-color: #DC4850; }
  QDialog QPushButton, SettingsDialog QPushButton {
    background-color: transparent;
    color: #27272B;
    font-size: 18px;
    font-family: "Proxima Nova";
    qproperty-flat: true;
    outline: none;
    border: 1px solid #27272B;
    min-height: 50px; }
    QDialog QPushButton:hover, SettingsDialog QPushButton:hover {
      background-color: #27272B;
      color: #DC4850; }
  QDialog QLabel, SettingsDialog QLabel {
    color: #27272B;
    font-family: "Proxima Nova";
    font-size: 30px; }

SettingsDialog QLabel {
  font-size: 20px; }

PopupLine QPushButton {
  border: none; }
  PopupLine QPushButton:hover {
    background: none; }

IconButton {
  background-color: none;
  outline: none;
  border: none; }

QLineEdit {
  font-size: 30px;
  border: none;
  qproperty-frame: false;
  background-color: #DC4850;
  color: #27272B; }

QComboBox {
  background-color: transparent;
  color: #27272B;
  font-size: 20px;
  font-family: "Proxima Nova";
  border: 1px solid #27272B;
  min-height: 50px;
  padding-left: 34px; }
  QComboBox::drop-down {
    border: none; }
  QComboBox:hover {
    background-color: #27272B;
    color: #DC4850; }
  QComboBox QListView {
    background: #DC4850;
    color: #27272B; }

QTabWidget::pane {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  max-height: 0px;
  max-width: 0px;
  border-width: 0px; }
QTabWidget QTabBar::tab {
  background-color: #27272B;
  font-size: 30px;
  color: #FFFFFF;
  font-family: "DIN Light";
  border: none;
  outline: none;
  min-width: 205px;
  min-height: 50px;
  padding-bottom: 0px;
  padding-top: 5px;
  text-align: center;
  qproperty-alignment: AlignCenter; }
  QTabWidget QTabBar::tab:selected, QTabWidget QTabBar::tab:hover {
    background-color: #DC4850;
    color: #27272B; }

#ContainerPage {
  background-color: #DC4850; }
  #ContainerPage QTabBar::tab {
    min-width: 250px;
    min-height: 50px;
    padding-top: 5px; }

#OperatorUi {
  border: 2px solid #27272B;
  margin: 5px;
  padding: 5px; }

CustomDial {
  background-color: transparent;
  font-size: 14px;
  font-family: DIN;
  color: #27272B;
  qproperty-arcColor: #FFFFFF;
  qproperty-arcWidth: 3;
  qproperty-arcPadding: 4;
  min-width: 110;
  max-width: 110;
  min-height: 110;
  max-height: 110; }

ModItemUi {
  background-color: #DC4850;
  qproperty-borderColor: #27272B;
  qproperty-borderWidth: 4;
  color: #27272B;
  font-family: DIN;
  font-size: 20px;
  margin: 20px;
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
