AnthemUi {
  background: #27272B;
  min-width: 1020px;
  max-width: 1020px;
  min-height: 680px;
  max-height: 680px;
  font-family: "DIN"; }
  AnthemUi QTabWidget QTabBar::tab {
    min-width: 204px;
    min-height: 50px; }

AlgorithmUi {
  background: transparent;
  border: 2px solid #27272B;
  outline: none; }
  AlgorithmUi QLabel {
    background: #DC4850;
    color: #27272B;
    font-size: 20px;
    font-family: DIN;
    border: 2px solid #27272B;
    min-width: 24px;
    max-width: 24px;
    min-height: 30px;
    max-height: 30px; }
    AlgorithmUi QLabel:enabled {
      background: #27272B;
      color: #DC4850; }

Browser[isExpanded="false"], Browser[isExpanded="true"] {
  min-width: 250px;
  border: 2px solid #27272B; }
  Browser[isExpanded="false"] QLineEdit, Browser[isExpanded="true"] QLineEdit {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 28px; }
  Browser[isExpanded="false"] QPushButton, Browser[isExpanded="true"] QPushButton {
    min-width: 28px;
    min-height: 28px;
    font-size: 26px;
    border: none;
    border-left: 2px solid #27272B; }
  Browser[isExpanded="false"] CustomMessageBox, Browser[isExpanded="true"] CustomMessageBox {
    min-width: 375px;
    min-height: 200px; }
    Browser[isExpanded="false"] CustomMessageBox QLabel, Browser[isExpanded="true"] CustomMessageBox QLabel {
      font-size: 24px;
      margin-bottom: 10px; }
    Browser[isExpanded="false"] CustomMessageBox QPushButton, Browser[isExpanded="true"] CustomMessageBox QPushButton {
      font-size: 20px;
      min-width: 150px; }
  Browser[isExpanded="false"] PopupLine, Browser[isExpanded="true"] PopupLine {
    min-width: 400px;
    min-height: 50px;
    max-height: 50px; }
    Browser[isExpanded="false"] PopupLine QLineEdit, Browser[isExpanded="true"] PopupLine QLineEdit {
      border: none;
      font-size: 24px; }
  Browser[isExpanded="false"] QMenu::item, Browser[isExpanded="true"] QMenu::item {
    padding-right: 25px; }
  Browser[isExpanded="false"] QTreeView, Browser[isExpanded="true"] QTreeView {
    border: 2px solid #27272B; }

Browser[isExpanded="true"] {
  border: none; }
  Browser[isExpanded="true"] QTreeView {
    border: none;
    border-top: 2px solid #27272B; }

#CaseSensitivityButton {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
  font-size: 18px;
  border: none;
  border-left: 2px solid #27272B;
  color: #27272B; }
  #CaseSensitivityButton:hover {
    color: #DC4850;
    background: #27272B; }
  #CaseSensitivityButton:open {
    color: #DC4850; }

ComboBox QListView {
  font-family: "DIN";
  background: #DC4850;
  color: #27272B; }
  ComboBox QListView::item:selected, ComboBox QListView::item:hover {
    background: #27272B;
    color: #DC4850; }

Creator {
  min-height: 140px;
  max-height: 140px; }
  Creator QPushButton {
    background: #27272B;
    color: #F7FDFA;
    min-width: 30px;
    font-size: 18px;
    border: none; }
  Creator ComboBox {
    background: #27272B;
    color: #F7FDFA;
    qproperty-heightOffset: 2;
    qproperty-direction: 2; }
    Creator ComboBox QListView {
      font-size: 18px; }
      Creator ComboBox QListView::item {
        min-width: 35px;
        max-width: 35px; }
  Creator Plot {
    qproperty-gridShown: true; }

#CreatorGenerateButton {
  font-size: 24px; }

CustomDial, ModDial {
  background: transparent;
  font-family: "DIN";
  color: #27272B;
  qproperty-arcColor: #27272B;
  qproperty-arcWidth: 3; }

CustomMessageBox QLabel {
  color: #27272B;
  font-family: "Proxima Nova";
  font-size: 30px; }

#Details {
  font-size: 20px; }

IconButton {
  background: none;
  outline: none;
  border: none; }

Menubar {
  min-height: 80px;
  max-height: 80px; }
  Menubar #CopyDock {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    background: #27272B;
    font-size: 30px;
    font-family: DIN;
    color: #DC4850; }
    Menubar #CopyDock:enabled {
      background: #DC4850;
      color: #27272B; }
  Menubar IconButton {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    qproperty-iconWidth: 35;
    qproperty-iconHeight: 35; }
  Menubar #VolumeLabel {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px; }
  Menubar PopupLine {
    min-width: 400px;
    max-width: 400px;
    min-height: 55px;
    max-height: 55px; }
    Menubar PopupLine QPushButton {
      background: #DC4850;
      border: none; }
      Menubar PopupLine QPushButton:hover {
        background: #DC4850;
        border: none; }

#MenuButton {
  qproperty-iconWidth: 30;
  qproperty-iconHeight: 30;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px; }

ModDial {
  qproperty-displayedArcColor: #F7FDFA;
  qproperty-arcPadding: 4;
  font-size: 16px;
  min-width: 120;
  min-height: 120; }

ModItemUi {
  background: #DC4850;
  qproperty-borderColor: #27272B;
  qproperty-borderWidth: 4;
  color: #27272B;
  font-family: DIN;
  font-size: 14px;
  min-width: 35px;
  min-height: 35px; }
  ModItemUi QMenu::item {
    padding-right: 30px; }

MasterPage {
  background: #DC4850; }
  MasterPage ModDial {
    font-size: 16px; }

#OperatorBar QPushButton {
  border-bottom: 2px solid #27272B;
  border-right: 1px solid #27272B;
  border-left: 1px solid #27272B;
  min-width: 40px;
  min-height: 32px;
  font-size: 20px; }

OperatorPage {
  background: #DC4850; }
  OperatorPage QTabWidget QTabBar::tab {
    min-width: 250px;
    min-height: 40px;
    padding-top: 10px;
    font-size: 30px; }

OperatorUi, PanUi, MacroUi, #VolumeUi {
  border: 2px solid #27272B;
  min-width: 480px;
  min-height: 220px; }
  OperatorUi QPushButton:open, PanUi QPushButton:open, MacroUi QPushButton:open, #VolumeUi QPushButton:open {
    background: #27272B;
    color: #F7FDFA; }
  OperatorUi QPushButton::hover, PanUi QPushButton::hover, MacroUi QPushButton::hover, #VolumeUi QPushButton::hover {
    background: #27272B;
    color: #DC4850; }
  OperatorUi QTabWidget QTabBar::tab, PanUi QTabWidget QTabBar::tab, MacroUi QTabWidget QTabBar::tab, #VolumeUi QTabWidget QTabBar::tab {
    font-size: 20px;
    min-width: 120px;
    min-height: 20px;
    padding-bottom: 1px;
    border-bottom: 2px solid #27272B; }
  OperatorUi QLabel, PanUi QLabel, MacroUi QLabel, #VolumeUi QLabel {
    color: #27272B;
    font-size: 14px;
    min-height: 28px; }

PanUi, MacroUi, #VolumeUi {
  max-height: 215px;
  min-height: 215px;
  min-width: 145px;
  max-width: 145px; }

#Record {
  font-size: 30px; }

#Stop {
  font-size: 80px; }

#Save {
  font-size: 35px; }

PartialsUi {
  qproperty-barColor: #DC4850;
  qproperty-barWidth: 30;
  qproperty-displayFactor: 100;
  qproperty-step: 5;
  qproperty-topOffset: 10;
  qproperty-baseValue: 10; }
  PartialsUi Plot {
    qproperty-gridShown: true;
    qproperty-lineWidth: 0;
    qproperty-zeroColor: #56595C; }

Plot {
  qproperty-lineColor: #43D4B4;
  qproperty-backgroundColor: #27272B;
  qproperty-lineWidth: 2;
  qproperty-gridShown: true;
  qproperty-gridWidth: 1;
  qproperty-gridStyle: 3;
  qproperty-gridColor: #56595C;
  qproperty-zeroColor: #DC4850;
  qproperty-zeroWidth: 1; }

PopupLine {
  border: none; }
  PopupLine QLineEdit {
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px; }
  PopupLine IconButton {
    background: #DC4850; }
    PopupLine IconButton:hover {
      background: #DC4850; }

#ProjectLabel {
  color: #27272B;
  font-family: DIN;
  font-size: 30px;
  min-width: 350px;
  max-width: 350px;
  padding-right: 15px; }

#PreviousButton, #NextButton {
  qproperty-iconWidth: 25;
  qproperty-iconHeight: 25;
  min-width: 35px;
  max-width: 35px; }

#PreviousButton {
  padding-right: 5px; }

Projectbar {
  background: #DC4850;
  min-width: 500px;
  max-width: 500px; }

QDialog, SettingsDialog {
  background: #DC4850; }
  QDialog QPushButton, SettingsDialog QPushButton {
    font-size: 18px;
    font-family: "Proxima Nova";
    border: 1px solid #27272B; }
    QDialog QPushButton:hover, SettingsDialog QPushButton:hover {
      background: #27272B;
      color: #DC4850; }

QLabel {
  qproperty-alignment: AlignCenter;
  color: #F7FDFA; }

QLineEdit {
  border: none;
  qproperty-frame: false;
  background: transparent;
  color: #27272B; }

QMenu {
  background: #DC4850;
  margin: 15px; }
  QMenu::item {
    color: #27272B;
    padding: 15px;
    font-size: 16px; }
    QMenu::item::selected {
      background: #27272B;
      color: #DC4850; }
    QMenu::item::checked {
      background: #27272B;
      color: #DC4850;
      padding-left: 30px; }

QPushButton {
  outline: none;
  background: transparent;
  border: none;
  color: #27272B;
  font-family: "DIN";
  qproperty-flat: true; }

QTabWidget::pane {
  background: transparent;
  margin: 0px;
  padding: 0px;
  max-height: 0px;
  max-width: 0px;
  border-width: 0px; }
QTabWidget QTabBar::tab {
  background: #27272B;
  font-size: 30px;
  color: #F7FDFA;
  font-family: "DIN Light";
  border: none;
  outline: none;
  padding-top: 5px; }
  QTabWidget QTabBar::tab:selected, QTabWidget QTabBar::tab:hover {
    background: #DC4850;
    color: #27272B; }

QToolTip {
  background: #DC4850;
  font-family: "DIN";
  color: #27272B;
  font-size: 16px;
  padding: 2px; }

QTreeView {
  background: #DC4850;
  font-size: 14px;
  color: #27272B; }
  QTreeView::item:selected {
    background: #DC4850;
    color: #27272B; }
  QTreeView::branch {
    border-image: none;
    background: #DC4850; }

RecordUi {
  border: 2px solid #27272B; }
  RecordUi QPushButton {
    font-size: 30px;
    min-height: 100px;
    max-height: 100px; }
    RecordUi QPushButton:open {
      background: #27272B;
      color: #DC4850; }
  RecordUi QLineEdit {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border: none;
    qproperty-frame: false;
    background: transparent;
    color: #27272B; }

SettingsDialog QLabel {
  color: #27272B;
  font-family: "Proxima Nova";
  font-size: 20px; }
SettingsDialog ComboBox {
  min-height: 50px;
  max-height: 50px; }
  SettingsDialog ComboBox QListView {
    font-size: 16px; }
    SettingsDialog ComboBox QListView::item {
      padding: 15px; }

WavetableUi {
  qproperty-zeroColor: #DC4850;
  qproperty-zeroWidth: 1;
  qproperty-margin: 15; }

/*# sourceMappingURL=style.css.map */
