AnthemUi {
  background-color: #27272B;
  min-width: 1020px;
  max-width: 1020px;
  min-height: 680px;
  max-height: 680px; }

QLabel {
  qproperty-alignment: AlignCenter;
  color: #F7FDFA; }

Menubar {
  min-height: 80px;
  max-height: 80px; }
  Menubar #CopyDock {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    background-color: #27272B;
    font-size: 30px;
    font-family: DIN;
    color: #DC4850; }
    Menubar #CopyDock:enabled {
      background-color: #DC4850;
      color: #27272B; }
  Menubar IconButton {
    border: 3px solid #DC4850;
    min-width: 54px;
    min-height: 54px;
    max-width: 54px;
    max-height: 54px;
    qproperty-iconWidth: 35;
    qproperty-iconHeight: 35; }
  Menubar #VolumeLabel {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px; }
  Menubar Projectbar {
    background-color: #DC4850;
    min-width: 500px;
    max-width: 500px; }

#ProjectLabel {
  color: #27272B;
  font-family: DIN;
  font-size: 30px;
  min-width: 350px;
  max-width: 350px;
  padding-right: 15px; }

#PreviousButton, #NextButton {
  qproperty-iconWidth: 25;
  qproperty-iconHeight: 25;
  min-width: 35px;
  max-width: 35px; }

#PreviousButton {
  padding-right: 5px; }

#MenuButton {
  qproperty-iconWidth: 30;
  qproperty-iconHeight: 30;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px; }

QMenu {
  background-color: #DC4850;
  margin: 15px; }
  QMenu::item {
    color: #27272B;
    padding: 15px;
    font-size: 16px; }
    QMenu::item::selected {
      background-color: #27272B;
      color: #DC4850; }

CustomComboBox QMenu {
  margin: 0px; }
  CustomComboBox QMenu::item {
    padding: 40px; }

QDialog, SettingsDialog {
  background-color: #DC4850; }
  QDialog QPushButton, SettingsDialog QPushButton {
    background-color: transparent;
    color: #27272B;
    font-size: 18px;
    font-family: "Proxima Nova";
    qproperty-flat: true;
    outline: none;
    border: 1px solid #27272B;
    min-height: 50px; }
    QDialog QPushButton:hover, SettingsDialog QPushButton:hover {
      background-color: #27272B;
      color: #DC4850; }

SettingsDialog QLabel {
  color: #27272B;
  font-family: "Proxima Nova";
  font-size: 20px; }

CustomMessageBox QLabel {
  color: #27272B;
  font-family: "Proxima Nova";
  font-size: 30px; }

PopupLine QPushButton {
  border: none; }
  PopupLine QPushButton:hover {
    background: none; }

IconButton {
  background-color: none;
  outline: none;
  border: none; }

QLineEdit {
  font-size: 30px;
  border: none;
  qproperty-frame: false;
  background-color: #DC4850;
  color: #27272B; }

QComboBox {
  background-color: transparent;
  color: #27272B;
  font-size: 20px;
  font-family: "Proxima Nova";
  border: 1px solid #27272B;
  min-height: 50px;
  padding-left: 34px; }
  QComboBox::drop-down {
    border: none; }
  QComboBox:hover {
    background-color: #27272B;
    color: #DC4850; }
  QComboBox QListView {
    background: #DC4850;
    color: #27272B; }

QTabWidget {
  min-width: 1020px; }
  QTabWidget::pane {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    max-height: 0px;
    max-width: 0px;
    border-width: 0px; }
  QTabWidget QTabBar::tab {
    background-color: #27272B;
    font-size: 30px;
    color: #F7FDFA;
    font-family: "DIN Light";
    border: none;
    outline: none;
    min-width: 204px;
    max-width: 204px;
    min-height: 50px;
    max-height: 50px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin: 0px;
    text-align: center;
    qproperty-alignment: AlignCenter; }
    QTabWidget QTabBar::tab:selected, QTabWidget QTabBar::tab:hover {
      background-color: #DC4850;
      color: #27272B; }

OperatorPage {
  background-color: #DC4850; }
  OperatorPage QTabBar::tab {
    min-width: 250px;
    min-height: 50px;
    padding-top: 5px; }

OperatorUi {
  border: 2px solid #27272B;
  margin: 5px; }
  OperatorUi QPushButton {
    background-color: transparent;
    color: #27272B;
    font-size: 24px;
    font-family: DIN;
    qproperty-flat: true;
    outline: none;
    border: 2px solid #27272B;
    min-width: 40px;
    margin-top: 5px;
    margin-bottom: 5px; }
    OperatorUi QPushButton:open {
      background-color: #27272B;
      color: #DC4850; }

ModDial {
  background-color: transparent;
  font-size: 14px;
  font-family: DIN;
  color: #27272B;
  qproperty-arcColor: #27272B;
  qproperty-arcWidth: 3;
  qproperty-arcPadding: 4;
  qproperty-valueShown: false;
  qproperty-displayedArcColor: #F7FDFA;
  min-width: 120;
  min-height: 120; }

ModDockUi {
  min-width: 75;
  min-height: 75; }

ModItemUi {
  background-color: #DC4850;
  qproperty-borderColor: #27272B;
  qproperty-borderWidth: 4;
  color: #27272B;
  font-family: DIN;
  font-size: 14px; }
  ModItemUi QMenu::item {
    padding-right: 30px; }

AlgorithmUi {
  background-color: transparent;
  border: 2px solid #27272B;
  outline: none; }
  AlgorithmUi QLabel {
    background-color: #DC4850;
    color: #27272B;
    font-size: 20px;
    font-family: DIN;
    border: 2px solid #27272B;
    min-width: 24px;
    max-width: 24px;
    min-height: 30px;
    max-height: 30px; }
    AlgorithmUi QLabel:enabled {
      background-color: #27272B;
      color: #DC4850; }

MasterPage {
  background-color: #DC4850; }

VolumeUi {
  border: 2px solid #27272B;
  margin: 5px; }

/*# sourceMappingURL=style.css.map */
