$second: #27272B
$first: #DC4850
$third: #F7FDFA
$fourth: #43D4B4

// Just not to forget them
$gray: #56595C
$gold: #FBB829

$windowWidth: 1020px
$windowHeight: 680px

AnthemUi
    background: $second
    min-width: $windowWidth
    max-width: $windowWidth
    min-height: $windowHeight
    max-height: $windowHeight
    font-family: "DIN"
    & QTabWidget QTabBar::tab
        min-width: $windowWidth / 5
        min-height: 50px

AlgorithmUi
    background: transparent
    border: 2px solid $second
    outline: none
    & QLabel
        background: $first
        color: $second
        font-size: 20px
        font-family: DIN
        border: 2px solid $second
        min-width: 24px
        max-width: 24px
        min-height: 30px
        max-height: 30px
        &:enabled
            background: $second
            color: $first


Browser[isExpanded = "false"]
    min-width: 270px
    border: 2px solid $second
    & QLineEdit
        font-size: 14px
        padding-right: 5px
        padding-left: 5px
        min-height: 28px
    & QPushButton
        min-width: 28px
        min-height: 28px
        font-size: 26px
        border: none
        border-left: 2px solid $second
    & CustomMessageBox
        min-width: 375px
        min-height: 200px
        & QLabel
            font-size: 24px
            margin-bottom: 10px
        & QPushButton
            font-size: 20px
            min-width: 150px
    & PopupLine
        min-width: 400px
        min-height: 50px
        max-height: 50px
        & QLineEdit
            border: none
            font-size: 24px
    & QMenu::item
        padding-right: 25px
    & QTreeView
        border: 2px solid $second

Browser[isExpanded = "true"]
    @extend Browser[isExpanded = "false"]
    border: none
    & QTreeView
        border: none
        border-top: 2px solid $second

#CaseSensitivityButton
    min-width: 28px
    max-width: 28px
    min-height: 28px
    max-height: 28px
    font-size: 18px
    border: none
    border-left: 2px solid $second
    color: $second
    &:hover
        color: $first
        background: $second
    &:open
        color: $first

ComboBox
    qproperty-alignment: AlignCenter
    qproperty-direction: 1 // Down
    & QListView
        background: $first
        color: $second
        &::item
            padding: 15px
            &:selected, &:hover
                background: $second
                color: $first

Creator QPushButton
    min-width: 30px
    font-size: 18px
    border-right: 2px solid $second
    border-bottom: 2px solid $second
    border-left: 2px solid $second

#CreatorGenerateButton
    font-size: 24px

CustomDial
    background: transparent
    font-family: "DIN"
    color: $second
    qproperty-arcColor: $second
    qproperty-arcWidth: 3

CustomMessageBox
    & QLabel
        color: $second
        font-family: "Proxima Nova"
        font-size: 30px

#Details
    font-size: 20px

IconButton
    background: none
    outline: none
    border: none

Menubar
    $menuHeight: 60px
    $borderWidth: 3px
    $fitted: $menuHeight - 2 * $borderWidth
    min-height: $menuHeight + 20
    max-height: $menuHeight + 20
    & #CopyDock
        border: $borderWidth solid $first
        min-width: $fitted
        min-height: $fitted
        max-width: $fitted
        max-height: $fitted
        background: $second
        font-size: 30px
        font-family: DIN
        color: $first
        &:enabled
            background: $first
            color: $second
    & IconButton
        border: $borderWidth solid $first
        min-width: $fitted
        min-height: $fitted
        max-width: $fitted
        max-height: $fitted
        qproperty-iconWidth: 35
        qproperty-iconHeight: 35
    & #VolumeLabel
        min-width: $menuHeight
        min-height: $menuHeight
        max-width: $menuHeight
        max-height: $menuHeight
    & PopupLine
        min-width: 400px
        max-width: 400px
        min-height: 55px
        max-height: 55px

        & QPushButton
            background: $first
            border: none
            &:hover
                background: $first
                border: none

#MenuButton
    qproperty-iconWidth: 30
    qproperty-iconHeight: 30
    min-width: 35px
    max-width: 35px
    min-height: 35px
    max-height: 35px

ModDial
    @extend CustomDial
    qproperty-displayedArcColor: $third
    qproperty-arcPadding: 4
    font-size: 16px
    min-width: 120
    min-height: 120

ModItemUi
    background: $first
    qproperty-borderColor: $second
    qproperty-borderWidth: 4
    color: $second
    font-family: DIN
    font-size: 14px
    min-width: 35px
    min-height: 35px
    & QMenu::item
        padding-right: 30px

MasterPage
    background: $first
    & ModDial
        font-size: 16px

#OperatorBar QPushButton
    border-bottom: 2px solid $second
    border-right: 1px solid $second
    border-left: 1px solid $second
    min-width: 40px
    min-height: 32px
    font-size: 20px

OperatorPage
    background: $first
    & QTabWidget QTabBar::tab
        min-width: 250px
        min-height: 40px
        padding-top: 10px
        font-size: 30px

OperatorUi
    border: 2px solid $second
    min-width: 480px
    min-height: 220px
    & QPushButton
        &:open
            background: $second
            color: $third
        &::hover
            background: $second
            color: $first
    & QTabWidget QTabBar::tab
        font-size: 20px
        min-width: 120px
        min-height: 30px
        border-bottom: 2px solid $second
    & QLabel
        color: $second
        font-size: 14px
        min-height: 28px

PanUi, MacroUi, #VolumeUi
    @extend OperatorUi
    max-height: 215px
    min-height: 215px
    min-width: 145px
    max-width: 145px

#Record
    font-size: 30px

#Stop
    font-size: 80px

#Save
    font-size: 35px

PopupLine
    border: none
    & QLineEdit
        font-size: 24px
        padding-right: 10px
        padding-left: 10px
    & IconButton
        background: $first
        &:hover
            background: $first

#ProjectLabel
    color: $second
    font-family: DIN
    font-size: 30px
    min-width: 350px
    max-width: 350px
    padding-right: 15px

#PreviousButton, #NextButton
    qproperty-iconWidth: 25
    qproperty-iconHeight: 25
    min-width: 35px
    max-width: 35px

#PreviousButton
    padding-right: 5px

Projectbar
    background: $first
    min-width: 500px
    max-width: 500px

QDialog
    background: $first
    & QPushButton
        font-size: 18px
        font-family: "Proxima Nova"
        border: 1px solid $second
        &:hover
            background: $second
            color: $first

QLabel
    qproperty-alignment: AlignCenter
    color: $third

QLineEdit
    border: none
    qproperty-frame: false
    background: transparent
    color: $second

QMenu
    background: $first
    margin: 15px
    &::item
        color: $second
        padding: 15px
        font-size: 16px
        &::selected
            background: $second
            color: $first
        &::checked
            background: $second
            color: $first
            padding-left: 30px

QPushButton
    outline: none
    background: transparent
    border: none
    color: $second
    font-family: "DIN"
    qproperty-flat: true

QTabWidget
    &::pane
        background: transparent
        margin: 0px
        padding: 0px
        max-height: 0px
        max-width: 0px
        border-width: 0px
    & QTabBar::tab
        background: $second
        font-size: 30px
        color: $third
        font-family: "DIN Light"
        border: none
        outline: none
        padding-top: 5px
        &:selected, &:hover
            background: $first
            color: $second

QToolTip
    background: $first
    font-family: "DIN"
    color: $second
    font-size: 16px
    padding: 2px

QTreeView
    background: $first
    font-size: 14px
    color: $second
    &::item:selected
        background: $first
        color: $second
    &::branch
        border-image: none
        background: $first

RecordUi
    border: 2px solid $second
    & QPushButton
        font-size: 30px
        min-height: 100px
        max-height: 100px
        &:open
            background: $second
            color: $first
    & QLineEdit
        padding-left: 20px
        padding-right: 20px
        font-size: 24px
        border: none
        qproperty-frame: false
        background: transparent
        color: $second

SettingsDialog
    @extend QDialog
    & QLabel
        color: $second
        font-family: "Proxima Nova"
        font-size: 20px
    & ComboBox
        min-height: 50px
        max-height: 50px
        & QListView
            font-size: 16px

WavetableUi
    qproperty-lineColor: $fourth
    qproperty-backgroundColor: $second
    qproperty-lineWidth: 2
    qproperty-gridShown: true
    qproperty-gridWidth: 1
    qproperty-gridColor: $gray
    qproperty-zeroColor: $first
    qproperty-zeroWidth: 1
    qproperty-margin: 15
