$primary: #27272B
$secondary: #DC4850
$tertiary: #FFFFFF
$quaternary: #43D4B4

QMainWindow
  background-color: $primary

QLabel
  qproperty-alignment: AlignCenter
  color: $tertiary

  &#projectLabel
    color: $primary
    font-size: 40px
    font-family: DIN

  &#CopyDock
    background-color: $primary
    border: 3px solid $secondary
    padding-top: 13px
    padding-bottom: 13px
    padding-right: 26px
    padding-left: 26px
    font-size: 40px
    font-family: DIN
    color: $secondary

    &:enabled
      background-color: $secondary
      color: $primary

Projectbar
  background-color: $secondary

QMenu
  background-color: $secondary
  margin: 15px

  &::item
    color: $primary
    padding: 15px
    font-size: 16px

    &::selected
      background-color: $primary
      color: $secondary

CustomComboBox QMenu
  margin: 0px

  &::item
    padding-right: 29px
    padding-left: 29px
    padding-top: 18px
    padding-bottom: 18px

QDialog
  background-color: $secondary

  & QPushButton
    background-color: transparent
    color: $primary
    font-size: 18px
    font-family: "Proxima Nova"
    qproperty-flat: true
    outline: none
    border: 1px solid $primary
    min-height: 50px
    &:hover
      background-color: $primary
      color: $secondary

  & QLabel
    color: $primary
    font-family: "Proxima Nova"
    font-size: 30px

SettingsDialog
  @extend QDialog
  & QLabel
    font-size: 20px

PopupLine QPushButton
  border: none
  &:hover
    background: none

IconButton
  background-color: none
  outline: none
  border: none

  &:hover
    background-color: none
    outline: none
    border: none

  &#SettingsButton
    border: 3px solid $secondary
    padding-left: 11px
    padding-right: 11px
    padding-bottom: 12px
    padding-top: 12px

QLineEdit
  font-size: 30px
  border: none
  qproperty-frame: false
  background-color: $secondary
  color: $primary

QComboBox
  background-color: transparent
  color: $primary
  font-size: 20px
  font-family: "Proxima Nova"
  border: 1px solid $primary
  min-height: 50px
  padding-left: 34px

  &::drop-down
    border: none

  &:hover
    background-color: $primary
    color: $secondary

  & QListView
    background: $secondary
    color: $primary

QTabWidget

  &::pane
    background-color: transparent

  & QTabBar::tab
    background-color: transparent
    font-size: 40px
    color: $tertiary
    font-family: "DIN Light"
    border: none
    outline: none
    min-width: 205px
    min-height: 50px
    padding-bottom: 5px
    padding-top: 15px
    text-align: center
    qproperty-alignment: AlignCenter

    &:selected, &:hover
      background-color: $secondary
      color: $primary

#ContainerPage
  background-color: $secondary
